body {
    background-image: url("../images/tex2res4.png");

}

.card { 
    background: #848484;
    text-align: center;
    border: solid black 2px;
    border-radius: 10px;

}

h1 {
    font-size: 65px;
    font-family: 'Fredericka the Great', cursive;
    padding: 10px 100px;

}

p {
    font-size: 20px;
    font-family: 'Arsenal', sans-serif;
    margin-right: 15px;
    margin-left: 15px;
}

.crystal-image {
    width: 125px;
    height: 125px;
    padding: 5px;
    margin-bottom: 20px;

}

#guessBox {
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Fredericka the Great', cursive;
}

#totalBox {
    font-size: 20px;
    padding-bottom: 15px;
    font-family: 'Arsenal', sans-serif;
    font-weight: 700;
}

.card-title {
    font-size: 30px;
    font-family: 'Fredericka the Great', cursive;
    padding: 10px 0 0;
}

#number-to-guess {
    color: #8B0000;
}

#winBox {
    font-size: 18px;
    font-family: 'Arsenal', sans-serif;
    font-weight: 700;
}

#lossBox {
    margin-bottom: 8px;
    font-size: 18px;
    font-family: 'Arsenal', sans-serif;
    font-weight: 700;
}



